$border-thickness: 0.1em;
$border-color: #DEDEDE;

.comment-block {
  border: $border-thickness solid $border-color;
  &__header {
    padding: 0.5em;
    border-bottom: $border-thickness solid $border-color;
  }
  &__body {
    font-style: italic;
    padding: 0.8em;
  }
  &__footer {
    padding: 0.5em;
    border-top: $border-thickness solid $border-color;
  }
};