$border-thickness: 0.1em;

.comment {
  border: ${border-thickness} solid gray
  &&__header {
    padding: 0.5em;
    border-bottom: ${border-thickness} solid gray;
  }
  &&__body {
    padding: 0.8em;
  }
  &&__footer {
    padding: 0.5em;
    border-top: ${border-thickness} solid gray;
  }
};